.download-dropdown {
  position: relative;
  float: right;
  margin-right: 20px;

  .dropdown-button {
    background: indianred;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 150px;

    &:hover {
      background-color: darkred;
    }
  }
}